
// Colors
$neutral-100: #ffffff;
$neutral-200: #f8f8f8;
$neutral-300: #e1e1e1;
$neutral-400: #737581;
$neutral-500: #4a4b53;
$neutral-600: #333333;
$neutral-700: #000000;

$primary-100: #16163F;
$primary-200: #3087DA;
$primary-300: #5FD7EC;
$primary-400: #BEE6EB;
$primary-500: #F5F9FA;

// Typography
$text-100: 1.8rem;
$text-200: 1.6rem;
$text-300: 1.4rem;
$text-400: 1.2rem;
$text-500: 1.1rem;
$text-600: 1rem;
$text-700: 0.8rem;
$text-800: 0.7rem;
